
<div class="email">
  <p><span class="strong">Welcome to Marucci Elite <%= email %>!</span></p>		
  <p>To accept your invite just click <a href="<%= base_url %>/invite/use/<%= invite_code %>/"><%= base_url %>/invite/use/<%= invite_code %>/</a></p>
  <p><span class="italic">Regards,</span></p>
  <p><span class="strong">Marucci Elite</span></p>
</div>
